.pokemon-list{
  list-style: none;
}
.button_style{
  border-radius:20px;
  border: 0;
  font-family:pokemon_text;
  font-size:1.8rem;
  font-weight:600;
  margin: 2rem;
  background:blue;
  color:yellow;
  cursor:pointer;
  text-align:center;
  width:75%;
  padding:2rem 3rem;
}
.button_style:hover{
  background-color: rgba(0, 89, 255, 0.587);
}

