.pokemon-list{
  list-style: none;
  display:flex 0 0 flex;
}
.button_style{
  border-radius:20px;
  border: 0;
  font-family:pokemon_text;
  font-size:1.8rem;
  font-weight:600;
  background:blue;
  color:yellow;
  cursor:pointer;
  text-align:center;
  height: 600px;
  width:400px;
  display:flex 0 0 flex;
  padding:50px;
}
.button_style:hover{
  background-color: rgb(0, 106, 255);
}
@font-face{
  font-family: pokemon_text;
  src:url(Pokemon_Solid.ttf);
}

h1{
font-family: pokemon_text;
color:yellow;
display:flex;
justify-content:center;
}

html{
  background-color:red;
}
.container{
  display:flex;
  justify-content:center;
}
